<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Редактирование тренера</title>
    <header th:replace="trainers :: head"></header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #e9ecef;
            margin: 0;
            padding: 0;
        }
        .custom-navbar {
            max-width: 80%;
            margin: 0 auto 80px;
            font-size: 1.25rem;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <div class="container-fluid">
        <a class="nav-link" aria-current="page" href="/">Домашняя страница</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/info">Расписание занятий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trainers">Тренеры</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" href="/clients">Клиенты</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" href="/bookings">Записи на занятия</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 class="col-md-8 offset-md-4">Редактирование тренера</h1>
<div class="row">
    <div class="col-md-8 offset-md-4">
        <form action="#" th:action="@{/trainers/save}" th:object="${trainer}" method="post">
            <table>
                <tr>
                    <td>ID тренера</td>
                    <td height="80px"><input type="number" th:field="*{ID}" readonly></td>
                </tr>
                <tr>
                    <td>ФИО тренера</td>
                    <td height="80px"><input type="text" th:field="*{fullName}"></td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td height="80px"><input type="text" th:field="*{phoneNumber}"></td>
                </tr>
                <tr>
                    <td>Стаж</td>
                    <td height="80px"><input type="text" th:field="*{experience}"></td>
                </tr>
                <tr>
                    <td>Рейтинг</td>
                    <td height="80px"><input type="text" onkeyup="this.value = this.value.replace(/\.(?=.*\.)|[^\d\.-]/g, '');"
                               onchange="this.value = this.value.replace(/\.(?=.*\.)|[^\d\.-]/g, '');" th:field="*{rating}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                            Отправить
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>